// 该文件打包时 引入
/* 改变主题色变量 */
$--color-primary: #4689f5;
$--hover-fontColor: #2b71e0;
$--hover-iconColor: #4689f5;
$--hover-bgColor: #6ba1f7;
// hover 的主题色
$--hover-color: #edf3fe;
/* 登录模块 */
$--button-height: 40px;
/* 分页高度 */
$--pagination--height: 42px;
